.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main_info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1400px;
}

.main .main_info_block .block_center_car {
  width: 60%;
  height: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .main_info_block .block_center_car .text {
  position: absolute;
  width: 469.98px;
  height: 129px;
  top: 185px;
  left: 261px;
}

@media (max-width: 700px) {
  .main .main_info_block .block_center_car .text {
    width: 284.98px;
    height: 71px;
    margin-top: -60px;
  }
}

.main .main_info_block .block_center_car .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: #7873AA;
}

@media (max-width: 700px) {
  .main .main_info_block .block_center_car .text p {
    text-align: center;
    font-size: 20px;
  }
}

.main .main_info_block .block_center_car .block_img_car {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 840px;
  height: 617px;
  background-image: url("./img/bg_car 1.png");
}

@media (max-width: 700px) {
  .main .main_info_block .block_center_car .block_img_car {
    margin-top: -0px;
  }
}

.main .main_info_block .block_center_car .block_img_car .car1 {
  width: 500px;
  height: 429px;
  margin-top: 20px;
  margin-right: -50px;
}

.main .main_info_block .block_center_technologies {
  height: 686px;
  width: 39%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .main_info_block .block_center_technologies .technologies_info {
  padding: 33px 0 0 31px;
  width: 470px;
  height: 495px;
  border: 1px solid #AFABD4;
  border-radius: 8px;
  margin-top: -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 700px) {
  .main .main_info_block .block_center_technologies .technologies_info {
    margin-top: -100px;
  }
}

.main .main_info_block .block_center_technologies .technologies_info .text_cap {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}

.main .main_info_block .block_center_technologies .technologies_info .text_bac {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #1B1425;
  margin-top: 15px;
}

.main .main_info_block .block_center_technologies .technologies_info .text_front {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #1B1425;
  margin-top: 30px;
}

.main .main_info_block .block_center_technologies .technologies_info .technologies_info_bac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  width: 245px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_info_block .block_center_technologies .technologies_info .technologies_info_bac .noda {
  width: 113px;
  height: 54px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: url("./img/noda_bg.png") no-repeat;
  background-size: 60px 37px;
  background-position: center;
}

.main .main_info_block .block_center_technologies .technologies_info .technologies_info_bac .mongo {
  width: 113px;
  height: 54px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: url("./img/mongo_bg.png") no-repeat;
  background-size: 92px 25px;
  background-position: center;
}

.main .main_info_block .block_center_technologies .technologies_info .front {
  width: 113px;
  height: 54px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: url("./img/react_native_bg.png") no-repeat;
  background-size: 57px 44px;
  background-position: center;
  margin-top: 20px;
}

.main .main_info_block .block_center_technologies .technologies_info .buttons {
  width: 94%;
  height: 100px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main_info_block .block_center_technologies .technologies_info .buttons .toCite {
  width: 349px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #AFABD4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}

.main .main_info_block .block_center_technologies .technologies_info .buttons .store {
  width: 163px;
  height: 34px;
  background: black url("./img/App_store.png") no-repeat;
  background-size: 24.45px 21.6px;
  background-position: 10%;
  border: 1px solid #AFABD4;
  padding-left: 35px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin: 11px;
}

.main .main_info_block .block_center_technologies .technologies_info .buttons .play {
  width: 163px;
  height: 34px;
  background: black url("./img/google_play_bg.png") no-repeat;
  background-size: 23.75px 27px;
  background-position: 10%;
  border: 1px solid #AFABD4;
  padding-left: 35px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin: 11px;
}

@media (max-width: 1386px) {
  .main .main_info_block {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main_info_block .block_center_car {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main .main_info_block .block_center_car .text {
    top: 22%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main .main_info_block .block_center_technologies {
    height: 568px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 890px) {
  .main .main_info_block .block_center_car {
    width: 60%;
    height: 494px;
  }
  .main .main_info_block .block_center_car .block_img_car {
    background: url("./img/bg_car 1.png") no-repeat;
    background-size: 654px 467px;
    background-position: center;
  }
  .main .main_info_block .block_center_car .block_img_car .car1 {
    width: 450px;
    height: 361.5px;
  }
}

@media (max-width: 821px) {
  .main .main_info_block .block_center_car {
    height: 397px;
  }
  .main .main_info_block .block_center_car .block_img_car {
    background-size: 384px 285px;
    width: 370px;
  }
  .main .main_info_block .block_center_car .block_img_car .car1 {
    width: 250px;
    height: 214.5px;
  }
}

@media (max-width: 371px) {
  .main .main_info_block .block_center_car {
    height: 397px;
  }
  .main .main_info_block .block_center_car .block_img_car {
    background-size: 314px 271px;
    width: 300px;
  }
  .main .main_info_block .block_center_car .block_img_car .car1 {
    width: 250px;
    height: 214.5px;
  }
}

@media (max-width: 467px) {
  .main .main_info_block .block_center_technologies {
    width: 270px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .main .main_info_block .block_center_technologies .technologies_info {
    height: 480px;
    padding: 10px 0 0 10px;
  }
  .main .main_info_block .block_center_technologies .technologies_info .text_cap {
    font-size: 20px;
  }
  .main .main_info_block .block_center_technologies .technologies_info .buttons {
    width: 100%;
    height: 100px;
  }
  .main .main_info_block .block_center_technologies .technologies_info .buttons .toCite {
    margin-bottom: 12px;
  }
  .main .main_info_block .block_center_technologies .technologies_info .buttons .play, .main .main_info_block .block_center_technologies .technologies_info .buttons .store, .main .main_info_block .block_center_technologies .technologies_info .buttons .toCite {
    width: 220px;
  }
}

.main .block_for_users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
  height: 1330px;
  z-index: 10;
  background: url("./img/O.png") 336px 567px no-repeat, url("./img/O.png") 336px 567px no-repeat, url("./img/Vector.png") 1268px 898px no-repeat, url("./img/Vector (1).png") 1055px 792px no-repeat;
  background-position: top right 30px, 40px bottom, 125px 210px, 5px 390px;
}

.main .block_for_users .users_cap {
  margin-top: 160px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222;
}

@media (max-width: 1254px) {
  .main .block_for_users .users_cap {
    margin-top: 0;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .main .block_for_users .users_cap {
    margin-top: -50px;
    font-size: 30px;
  }
}

@media (max-width: 460px) {
  .main .block_for_users .users_cap {
    margin-top: -60px;
    font-size: 25px;
  }
}

.main .block_for_users .users_block_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .block_for_users .users_block_info .blocks_to_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 130px;
  width: 287px;
  height: 209px;
  margin-left: 60px;
}

@media (max-width: 1254px) {
  .main .block_for_users .users_block_info .blocks_to_user {
    margin-top: 50px;
  }
}

@media (max-width: 1254px) {
  .main .block_for_users .users_block_info .blocks_to_user {
    width: 250px;
  }
}

.main .block_for_users .users_block_info .blocks_to_user .strip {
  width: 10px;
  height: 100%;
  background: #4D4545;
  border: solid #4D4545 1px;
}

.main .block_for_users .users_block_info .blocks_to_user .block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

@media (max-width: 362px) {
  .main .block_for_users .users_block_info .blocks_to_user .block_text {
    width: 65%;
  }
}

.main .block_for_users .users_block_info .blocks_to_user .block_text .block_info_cap {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #040404;
}

.main .block_for_users .users_block_info .blocks_to_user .block_text .block_info_text {
  margin-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.35px;
  color: #040404;
}

@media (max-width: 1400px) {
  .main .block_for_users .users_block_info {
    width: 783px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 788px) {
  .main .block_for_users .users_block_info {
    width: 694px;
  }
}

@media (max-width: 702px) {
  .main .block_for_users .users_block_info {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .block_for_users .block_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1350px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.main .block_for_users .block_phones .phone {
  width: 228.2px;
  height: 454.3px;
}

@media (max-width: 1400px) {
  .main .block_for_users .block_phones {
    width: 630px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .block_for_users .block_phones .phone {
    margin-bottom: 100px;
  }
}

@media (max-width: 788px) {
  .main .block_for_users .block_phones {
    width: 518px;
  }
  .main .block_for_users .block_phones .phone {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .main .block_for_users .block_phones {
    width: 468px;
  }
  .main .block_for_users .block_phones .phone {
    margin-bottom: 10px;
  }
}

@media (max-width: 510px) {
  .main .block_for_users .block_phones {
    width: 372px;
  }
  .main .block_for_users .block_phones .phone {
    width: 154.1px;
    height: 311.15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 420px) {
  .main .block_for_users .block_phones {
    width: 320px;
  }
  .main .block_for_users .block_phones .phone {
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .main .block_for_users .block_phones {
    width: 245px;
  }
  .main .block_for_users .block_phones .phone {
    width: 114.1px;
    height: 227.15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1400px) {
  .main .block_for_users {
    width: 100%;
    height: 100%;
  }
}

.main .for_owners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
  min-width: 100%;
  height: 900px;
  background: url("./img/car_STO.png") 336px 567px no-repeat, url("./img/Vector_STO.png") 336px 567px no-repeat;
  background-position: top 200px right 100px, right top;
}

@media (max-width: 1400px) {
  .main .for_owners {
    height: 800px;
  }
}

@media (max-width: 1066px) {
  .main .for_owners {
    background-size: 70%, 90%;
    background-position: top 100px right 100px, right top;
    min-width: 100%;
    height: 470px;
  }
}

@media (max-width: 632px) {
  .main .for_owners {
    height: 363px;
  }
}

@media (max-width: 600px) {
  .main .for_owners {
    margin-top: 0;
  }
}

@media (max-width: 506px) {
  .main .for_owners {
    background-size: 73%, 103%;
    background-position: top 79px right 58px, right top;
  }
}

@media (max-width: 632px) {
  .main .for_owners {
    height: 328px;
  }
}

@media (max-width: 360px) {
  .main .for_owners {
    height: 286px;
  }
}

.main .for_owners .for_owners_cap {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222;
}

@media (max-width: 1066px) {
  .main .for_owners .for_owners_cap {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 632px) {
  .main .for_owners .for_owners_cap {
    font-size: 20px;
  }
}

.main .for_owners .block_info {
  width: 1300px;
  height: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1326px) {
  .main .for_owners .block_info {
    width: 1000px;
  }
  .main .for_owners .block_info .block_info_text {
    width: 575px;
  }
  .main .for_owners .block_info .block_info_text .text {
    padding: 10px;
    border-radius: 12px;
    background: rgba(221, 221, 221, 0.63);
  }
}

@media (max-width: 1066px) {
  .main .for_owners .block_info {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 323px;
  }
}

@media (max-width: 632px) {
  .main .for_owners .block_info {
    height: 280px;
  }
}

@media (max-width: 384px) {
  .main .for_owners .block_info {
    height: 224px;
  }
}

@media (max-width: 360px) {
  .main .for_owners .block_info {
    height: 184px;
  }
}

.main .for_owners .block_info .block_info_cap {
  width: 631.43px;
  height: 119.53px;
}

@media (max-width: 1066px) {
  .main .for_owners .block_info .block_info_cap {
    height: 28.53px;
  }
}

@media (max-width: 1066px) {
  .main .for_owners .block_info .block_info_cap {
    height: 11px;
  }
}

@media (max-width: 632px) {
  .main .for_owners .block_info .block_info_cap {
    width: auto;
  }
}

.main .for_owners .block_info .block_info_cap .cap_text {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #222222;
  margin-top: -40px;
}

@media (max-width: 1066px) {
  .main .for_owners .block_info .block_info_cap .cap_text {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 632px) {
  .main .for_owners .block_info .block_info_cap .cap_text {
    font-size: 20px;
  }
}

@media (max-width: 464px) {
  .main .for_owners .block_info .block_info_cap .cap_text {
    font-size: 15px;
  }
}

@media (max-width: 464px) {
  .main .for_owners .block_info .block_info_cap .cap_text {
    font-size: 13px;
  }
}

.main .for_owners .block_info .block_info_text {
  width: 575px;
}

.main .for_owners .block_info .block_info_text .text {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 30px;
}

@media (max-width: 632px) {
  .main .for_owners .block_info .block_info_text .text {
    font-size: 14px;
  }
}

@media (max-width: 384px) {
  .main .for_owners .block_info .block_info_text .text {
    margin-bottom: 5px;
  }
}

@media (max-width: 360px) {
  .main .for_owners .block_info .block_info_text .text {
    font-size: 10px;
    line-height: 18px;
  }
}

@media (max-width: 632px) {
  .main .for_owners .block_info .block_info_text {
    width: 444px;
  }
}

@media (max-width: 464px) {
  .main .for_owners .block_info .block_info_text {
    width: 350px;
  }
}

@media (max-width: 360px) {
  .main .for_owners .block_info .block_info_text {
    width: 300px;
  }
}

.main .for_owners .block_info .for_owners-btn {
  width: 349px;
  height: 37px;
  background: #FFFFFF;
  border: 1px solid #AFABD4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}

@media (max-width: 1066px) {
  .main .for_owners .block_info .for_owners-btn {
    font-size: 14px;
    width: 300px;
    height: 30px;
  }
}

.main .bottom_project {
  width: 100%;
  height: 360px;
  background: #F4F3F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .bottom_project .bottom_project_cap {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #7873AA;
}

.main .bottom_project .bottom_project_btn {
  margin-top: 60px;
  width: 211px;
  height: 46px;
  background: #FF6E6C;
  -webkit-box-shadow: 0px 5px 20px rgba(52, 49, 80, 0.15);
          box-shadow: 0px 5px 20px rgba(52, 49, 80, 0.15);
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

@media (max-width: 673px) {
  .main .bottom_project {
    height: 260px;
  }
  .main .bottom_project .bottom_project_cap {
    font-size: 22px;
  }
  .main .bottom_project .bottom_project_btn {
    margin-top: 20px;
  }
}

.main .footer {
  width: 100%;
  min-height: 375px;
  background: #7873AA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 0;
}

.main .footer .footer_logo {
  width: 360px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1070px) {
  .main .footer .footer_logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 513px) {
  .main .footer .footer_logo {
    height: 185px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main .footer .footer_logo .footer_logo-img {
  width: 185px;
  height: 38px;
}

.main .footer .footer_logo .footer_logo-p {
  margin-top: 64px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #F4F3F8;
}

@media (max-width: 380px) {
  .main .footer .footer_logo {
    width: 297px;
    height: 110px;
  }
  .main .footer .footer_logo .footer_logo-p {
    margin-top: 26px;
  }
}

.main .footer .footer_links {
  width: 550px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1070px) {
  .main .footer .footer_links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 512px;
  }
}

@media (max-width: 513px) {
  .main .footer .footer_links {
    max-width: 144px;
  }
}

.main .footer .footer_links .footer_links_cap {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.main .footer .footer_links .footer_links_link {
  margin-top: 56px;
  min-width: 100px;
  height: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .footer .footer_links .footer_links_link a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #F4F3F8;
  margin-bottom: 20px;
}

@media (max-width: 513px) {
  .main .footer .footer_links .footer_links_link {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .main .footer .footer_links .footer_links_link a {
    margin-bottom: 9px;
  }
}

@media (max-width: 513px) and (max-width: 380px) {
  .main .footer .footer_links .footer_links_link {
    margin-top: 15px;
  }
}

.main .footer .footer_follow {
  width: 150px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1070px) {
  .main .footer .footer_follow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main .footer .footer_follow .footer_follow_cap {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 55px;
}

@media (max-width: 380px) {
  .main .footer .footer_follow .footer_follow_cap {
    margin-bottom: 15px;
  }
}

.main .footer .footer_follow .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main .footer .footer_follow .follow .follow_img {
  width: 25px;
  height: 25px;
}

.main .footer .footer_follow .follow .follow_name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #F4F3F8;
  margin-left: 15px;
}
/*# sourceMappingURL=main.style.css.map */