.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .main_info_block{
        display: flex;
        width: 1400px;
        .block_center_car{
            width: 60%;
            height: 690px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: flex-end;
            .text{
                position: absolute;
                width: 469.98px;
                height: 129px;
                top: 185px;
                left: 261px;
                @media (max-width: 700px) {
                    width: 284.98px;
                    height: 71px;
                    margin-top: -60px;
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 120%;
                    color: #7873AA;
                    @media (max-width: 700px) {
                        text-align: center;
                        font-size: 20px;
                    }
                }
            }
            .block_img_car{
                margin-top: 120px;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                width: 840px;
                height: 617px;
                background-image: url('./img/bg_car\ 1.png');
                @media (max-width: 700px) {
                    margin-top: -0px;
                }
                .car1{
                    width: 500px;
                    height: 429px; 
                    margin-top: 20px;
                    margin-right: -50px;
                }
            }
        }
        .block_center_technologies{
            height: 686px;
            width: 39%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .technologies_info{
                padding: 33px 0 0 31px;
                width: 470px;
                height: 495px;
                border: 1px solid #AFABD4;
                border-radius: 8px;
                margin-top: -10px;
                box-sizing: border-box;
                @media (max-width: 700px) {
                    margin-top: -100px;
                }
                .text_cap{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 140%;
                }
                .text_bac{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 140%;
                    color: #1B1425;
                    margin-top: 15px;
                }
                .text_front{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 140%;
                    color: #1B1425;
                    margin-top: 30px;
                }
                .technologies_info_bac{
                    display: flex;
                    margin-top: 12px;
                    width: 245px;
                    justify-content: space-between;
                    .noda{
                        width: 113px;
                        height: 54px;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        background: url('./img/noda_bg.png') no-repeat;
                        background-size: 60px 37px;
                        background-position: center;
                    }
                    .mongo{
                        width: 113px;
                        height: 54px;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        background: url('./img/mongo_bg.png') no-repeat;
                        background-size: 92px 25px;
                        background-position: center;
                    }
                }
                .front{
                    width: 113px;
                    height: 54px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    background: url('./img/react_native_bg.png') no-repeat;
                    background-size: 57px 44px;
                    background-position: center;
                    margin-top: 20px;
                }
                .buttons{
                    width: 94%;
                    height: 100px;
                    margin-top: 33px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    .toCite{
                        width: 349px;
                        height: 37px;
                        background: #FFFFFF;
                        border: 1px solid #AFABD4;
                        box-sizing: border-box;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        font-family: Comfortaa;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 100%;
                        text-align: center;
                        color: #000000;
                    }
                    .store{
                        width: 163px;
                        height: 34px;
                        background:black url('./img/App_store.png') no-repeat;
                        background-size: 24.45px 21.6px;
                        background-position: 10%;
                        border: 1px solid #AFABD4;
                        padding-left: 35px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        margin: 11px;
                    }
                    .play{
                        width: 163px;
                        height: 34px;
                        background:black url('./img/google_play_bg.png') no-repeat;
                        background-size: 23.75px 27px;
                        background-position: 10%;
                        border: 1px solid #AFABD4;
                        padding-left: 35px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        margin: 11px;
                    }
                }
            }
        }
    }
    @media (max-width: 1386px) {
        .main_info_block{
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .block_center_car{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
                .text{
                    top: 22%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .block_center_technologies{
                height: 568px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    @media (max-width: 890px) {
        .main_info_block{
            .block_center_car{
                width: 60%;
                height: 494px;
                .block_img_car{
                    background: url('./img/bg_car\ 1.png') no-repeat;
                    background-size: 654px 467px;
                    background-position: center;
                    .car1{
                        width: 450px;
                        height: 361.5px;
                    }
                }
            }
        }    
    }
    @media (max-width: 821px) {
        .main_info_block{
            .block_center_car{
                height: 397px;
                .block_img_car{
                    background-size: 384px 285px;
                    width: 370px;
                    .car1{
                        width: 250px;
                        height: 214.5px; 
                    }
                }
            }
        }    
    }
    @media (max-width: 371px) {
        .main_info_block{
            .block_center_car{
                height: 397px;
                .block_img_car{
                    background-size: 314px 271px;
                    width: 300px;
                    .car1{
                        width: 250px;
                        height: 214.5px; 
                    }
                }
            }
        }    
    }
    @media (max-width: 467px) {
        .main_info_block{
            .block_center_technologies{
                width: 270px;
                margin-top: 20px;
                margin-left: 20px;
                .technologies_info{
                    height: 480px;
                    padding: 10px 0 0 10px;
                    .text_cap{
                        font-size: 20px;
                    }
                    .buttons{
                        width: 100%;
                        height: 100px;
                        .toCite{
                            margin-bottom: 12px;
                        }
                        .play, .store, .toCite{
                            width: 220px;
                        }
                    }
                }
            }
        }    
    }




    .block_for_users{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1400px;
        height: 1330px;
        z-index: 10;
        background: url('./img/O.png') 336px 567px no-repeat,
                    url('./img/O.png') 336px 567px no-repeat,
                    url('./img/Vector.png') 1268px 898px no-repeat,
                    url('./img/Vector\ \(1\).png') 1055px 792px no-repeat;
        background-position: top right 30px, 40px bottom, 125px 210px, 5px 390px;        
        .users_cap{
            margin-top: 160px;
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -1px;
            color: #222222;
            @media (max-width: 1254px) {
                margin-top: 0;
                text-align: center;            
            }
            @media (max-width: 700px) {
                margin-top: -50px;
                font-size: 30px;
            }
            @media (max-width: 460px) {
                margin-top: -60px;
                font-size: 25px;
            }
        }
        .users_block_info{ 
            display: flex;
            width: 1350px;
            justify-content: center;
            .blocks_to_user{ 
                display: flex;
                margin-top: 130px;
                width: 287px;
                height: 209px;
                margin-left: 60px;
                @media (max-width: 1254px) {
                    margin-top: 50px;
                }
                @media (max-width: 1254px) {
                    width: 250px;
                }
                .strip{
                    width: 10px;
                    height: 100%;
                    background: #4D4545;
                    border: solid #4D4545 1px;
                }
                .block_text{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    width: 100%;
                    @media (max-width: 362px) {
                        width: 65%;
                    }  
                    .block_info_cap{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 21px;
                        line-height: 26px;
                        color: #040404;
                    }
                    .block_info_text{
                        margin-top: 10px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.35px;
                        color: #040404;
                    }
                }
            }
        }
        @media (max-width: 1400px) {
            .users_block_info{ 
                width: 783px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }   
        }
        @media (max-width: 788px) {
            .users_block_info{ 
                width: 694px;
            }
        }  
        @media (max-width: 702px) {
            .users_block_info{ 
                width: 100%;
                flex-direction: column;
            }
        }
        
        .block_phones{
            display: flex;
            width: 1350px;
            justify-content: space-around;
            margin-top: 50px;
            .phone{
                width: 228.2px;
                height: 454.3px;
            }
        }
        @media (max-width: 1400px) {
            .block_phones{
                width: 630px;
                justify-content: space-between;
                flex-wrap: wrap;
                .phone{
                    margin-bottom: 100px;
                }
            } 
        }
        @media (max-width: 788px) {
            .block_phones{ 
                width: 518px;
                .phone{
                    margin-bottom: 50px;
                }
            }
        } 
        @media (max-width: 600px) {
            .block_phones{ 
                width: 468px;
                .phone{
                    margin-bottom: 10px;
                }
            }
        }    
        @media (max-width: 510px) {
            .block_phones{ 
                width: 372px;
                .phone{
                    width: 154.1px;
                    height: 311.15px;
                    margin-bottom: 50px;
                }
            }
        } 
        @media (max-width: 420px) {
            .block_phones{ 
                width: 320px;
                .phone{
                    margin-bottom: 10px;
                }
            }
        } 
        @media (max-width: 350px) {
            .block_phones{ 
                width: 245px;
                .phone{
                    width: 114.1px;
                    height: 227.15px;
                    margin-bottom: 15px;
                }
            }
        } 
    }
    @media (max-width: 1400px) {
        .block_for_users{
            width: 100%;  
            height: 100%;   
        }
    }



    .for_owners{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -50px;
        min-width: 100%;
        height: 900px;
        background: url('./img/car_STO.png') 336px 567px no-repeat,
        url('./img/Vector_STO.png') 336px 567px no-repeat;
        background-position: top 200px right 100px, right top;
        @media (max-width: 1400px) {
            height: 800px;
        }
        @media (max-width: 1066px) {
            background-size: 70%, 90%;
            background-position: top 100px right 100px, right top;
            min-width: 100%;
            height: 470px;
        }
        @media (max-width: 632px) {
            height: 363px;
        }
        @media (max-width: 600px) {
            margin-top: 0;
        }
        @media (max-width: 506px) {
            background-size: 73%, 103%;
            background-position: top 79px right 58px, right top;
        }
        @media (max-width: 632px) {
            height: 328px;
        }
        @media (max-width: 360px) {
            height: 286px;
        }
        .for_owners_cap{
            font-family: Fira Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -1px;
            color: #222222;
            @media (max-width: 1066px) {
                font-size: 30px;
                text-align: center;
            }
            @media (max-width: 632px) {
                font-size: 20px;
            }
        }
        .block_info{
            width: 1300px;
            height: 475px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            @media (max-width: 1326px) {
                width: 1000px;
                .block_info_text{
                    width: 575px;
                    .text{
                        padding: 10px;
                        border-radius: 12px;
                        background: rgba(221, 221, 221, 0.63);
                    }
                }
            }
            @media (max-width: 1066px) {
                width: 100%;
                align-items: center;
                height: 323px;
            }
            @media (max-width: 632px) {
                height: 280px;
            }
            @media (max-width: 384px) {
                height: 224px;
            }
            @media (max-width: 360px) {
                height: 184px;
            }
            .block_info_cap{
                width: 631.43px;
                height: 119.53px;
                @media (max-width: 1066px) {
                    height: 28.53px;
                }
                @media (max-width: 1066px) {
                    height: 11px;
                }
                @media (max-width: 632px) {
                    width: auto;
                }
                .cap_text{
                    font-family: Fira Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 50px;
                    letter-spacing: -1px;
                    color: #222222;
                    margin-top: -40px;
                    @media (max-width: 1066px) {
                        font-size: 25px;
                        text-align: center;
                    }
                    @media (max-width: 632px) {
                        font-size: 20px;
                    }
                    @media (max-width: 464px) {
                        font-size: 15px;
                    }
                    @media (max-width: 464px) {
                        font-size: 13px;
                    }
                }
            }
            .block_info_text{
                width: 575px;
                .text{
                    font-family: Fira Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000000;
                    margin-bottom: 30px;
                    @media (max-width: 632px) {
                        font-size: 14px;
                    }
                    @media (max-width: 384px) {
                        margin-bottom: 5px;
                    }
                    @media (max-width: 360px) {
                        font-size: 10px;
                        line-height: 18px;
                    }
                }
                @media (max-width: 632px) {
                    width: 444px;
                }
                @media (max-width: 464px) {
                    width: 350px;
                }
                @media (max-width: 360px) {
                    width: 300px;
                }
            }
            .for_owners-btn{
                width: 349px;
                height: 37px;
                background: #FFFFFF;
                border: 1px solid #AFABD4;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                font-family: Comfortaa;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 100%;
                text-align: center;
                color: #000000;
                @media (max-width: 1066px) {
                    font-size: 14px;
                    width: 300px;
                    height: 30px;
                }
            }
        }
    }
    .bottom_project{
        width: 100%;
        height: 360px;
        background: #F4F3F8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bottom_project_cap{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
            text-align: center;
            color: #7873AA;
        }
        .bottom_project_btn{
            margin-top: 60px;
            width: 211px;
            height: 46px;
            background: #FF6E6C;
            box-shadow: 0px 5px 20px rgba(52, 49, 80, 0.15);
            border-radius: 4px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            color: #FFFFFF;
        }
    }
    @media (max-width: 673px) {
        .bottom_project{
            height: 260px;
            .bottom_project_cap{
                font-size: 22px;
            }   
            .bottom_project_btn{
                margin-top: 20px;
            }
        }
    }
    .footer{
        width: 100%;
        min-height: 375px;
        background: #7873AA;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        padding: 55px 0;
        .footer_logo{
            width: 360px;
            height: 270px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: 1070px) {
                order: 1;
            }
            @media (max-width: 513px) {
                height: 185px;
                align-items: center;
            }
            .footer_logo-img{
                width: 185px;
                height: 38px;
            }
            .footer_logo-p{
                margin-top: 64px;
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                color: #F4F3F8;
            }
            @media (max-width: 380px) {
                width: 297px;
                height: 110px;
                .footer_logo-p{
                    margin-top: 26px;
                }
            }
        }
        .footer_links{
            width: 550px;
            height: 270px;
            display: flex;
            flex-direction: column;
            @media (max-width: 1070px) {
                order: 3;
                max-width: 512px;
            }
            @media (max-width: 513px) {
                max-width: 144px;
            }
            .footer_links_cap{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 140%;
                color: #FFFFFF;
            }
            .footer_links_link{
                margin-top: 56px;
                min-width: 100px;
                height: 137px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                a{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 140%;
                    color: #F4F3F8;
                    margin-bottom: 20px;
                }
                @media (max-width: 513px) {
                    flex-wrap: nowrap;
                    flex-direction: column;
                    margin-top: 50px;
                    a{
                        margin-bottom: 9px;
                    }
                    @media (max-width: 380px) {
                        margin-top: 15px;
                    }
                }
            }
        }
        .footer_follow{
            width: 150px;
            height: 270px;
            display: flex;
            flex-direction: column;
            @media (max-width: 1070px) {
                order: 2;
            }
            .footer_follow_cap{
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 140%;
                color: #FFFFFF;
                margin-bottom: 55px;
                @media (max-width: 380px) {
                    margin-bottom: 15px;
                }
            }
            .follow{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                .follow_img{
                    width: 25px;
                    height: 25px;
                }
                .follow_name{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 140%;
                    color: #F4F3F8;
                    margin-left: 15px;
                }
            }
        }
    }
}

