input{
    width: 190px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: solid silver 1px;
    margin-bottom: 5px;
}
.passwordRed{
    border: solid rgb(218, 43, 43) 1px;
}
