.main_block {
  max-width: 1920px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_block .modalHamburger {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: white;
}

.main_block .modalHamburger .modalHamburger_unnamed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 95%;
  height: 60px;
  margin-top: 10px;
}

.main_block .modalHamburger .modalHamburger_unnamed .modalHamburger_unnamed_img {
  width: 40px;
  height: 40px;
}

.main_block .modalHamburger .modalHamburger_text {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_block .modalHamburger .modalHamburger_text a {
  font-size: 22px;
  color: black;
  margin-top: 20px;
}

.main_block .header {
  width: 1390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_block .header .hamburger {
  display: none;
  width: 40px;
  height: 40px;
}

.main_block .header .img_logo {
  width: 185px;
  height: 38px;
}

.main_block .header .header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  height: 19px;
  margin-left: 100px;
}

.main_block .header .btn {
  width: 177px;
  height: 46px;
  background: #FF6E6C;
  border-radius: 4px;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1393px) {
  .main_block .header {
    width: 1290px;
  }
}

@media (max-width: 1293px) {
  .main_block .header {
    width: 1090px;
  }
  .main_block .header .header_block {
    width: 400px;
  }
}

@media (max-width: 1093px) {
  .main_block .header {
    width: 890px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main_block .header .header_block {
    width: 350px;
    margin-left: 0;
  }
}

@media (max-width: 899px) {
  .main_block .header {
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main_block .header .header_block {
    display: none;
  }
  .main_block .header .btn {
    display: none;
  }
  .main_block .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 700px) {
  .main_block .header {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .main_block .header {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .main_block .header {
    width: 300px;
  }
}
/*# sourceMappingURL=header.style.css.map */