.main_block{
    max-width: 1920px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    .modalHamburger{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        background-color: white;
        .modalHamburger_unnamed{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            width: 95%;
            height: 60px;
            margin-top: 10px;
            .modalHamburger_unnamed_img{
                width: 40px;
                height: 40px;
            }
        }
        .modalHamburger_text{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                font-size: 22px;
                color: black;
                margin-top: 20px;
            }
        }
    }
    .header{
        width: 1390px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .hamburger{
            display: none;
            width: 40px;
            height: 40px;
        }
        .img_logo{
            width: 185px;
            height: 38px;
        }
        .header_block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 600px;
            height: 19px;
            margin-left: 100px;
        }
        .btn{
            width: 177px;
            height: 46px;
            background: #FF6E6C;
            border-radius: 4px;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: #FFFFFF;
        }
    }
    @media (max-width: 1393px) {
        .header{
            width: 1290px;
        }
    }
    @media (max-width: 1293px) {
        .header{
            width: 1090px;
            .header_block{
                width: 400px;
            }
        }
    }
    @media (max-width: 1093px) {
        .header{
            width: 890px;
            display: flex;
            .header_block{
                width: 350px;
                margin-left: 0;
            }
        }
    }
    @media (max-width: 899px) {
        .header{
            width: 700px;
            display: flex;
            justify-content: space-around;
            .header_block{
                display: none;
            }
            .btn{
                display: none;
            }
            .hamburger{
                display: flex;
            }
        }
    }
    @media (max-width: 700px) {
        .header{
            width: 500px;
        }
    }
    @media (max-width: 500px) {
        .header{
            width: 400px;
        }
    }
    @media (max-width: 400px) {
        .header{
            width: 300px;
        }
    }
}